.container{
    background-image: url("../../Assests/Images/typing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}