@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.primaryText{
    color: #00FBF4;
}
.primaryBG{
    background-color: #00FBF4;
}

.boxShadow{
    transition: all ease-in-out .2s;
}
.boxShadow:hover{
    box-shadow: 0 0 25px 10px #028079;
}   

.primaryBtn{
    background-color: black;
    color: #00FBF4;
    font-weight: 700;
    border: 1px solid #00FBF4;
    padding: .7rem 1.5rem;
    margin: 1.5rem 0;
    transition: all ease-in-out .3s;
}
.primaryBtn:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
    /* transform: scale(.9); */
}   

.main-bg{
    background-image: url("../Assests/Images/backImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}